body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}
a {
  color: #00B7FF;
}
.bookContainer {
  outline: 1px solid #aaa;
  width: 350px;
  height: 180px;
  background-color: #fff;
  float: left;
  margin: 5px;
}
.bookContainer img {
  float: left;
  margin: 10px;
}
.bookContainer ul {
  list-style-type: none;
  margin-bottom: 0;
}
.bookContainer button {
  float: right;
  margin: 10px;
}
#addBook label {
  width: 120px;
  margin-right: 10px;
  text-align: right;
  line-height: 25px;
}
#addBook label,
#addBook input {
  display: block;
  margin-bottom: 10px;
  float: left;
}
#addBook label[for="title"],
#addBook label[for="releaseDate"] {
  clear: both;
}
#addBook button {
  display: block;
  margin: 5px 20px 10px 10px;
  clear: both;
}
#addBook div {
  width: 550px;
}
#addBook div:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
  line-height: 0;
}
