<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Backbone-Library</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="books">
            <form id="addBook" action="#">
                <label for="title">Title: </label><input id="title" type="text" />
                <label for="author">Author: </label><input id="author" type="text" />
                <label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
                <label for="keywords">Keywords: </label><input id="keywords" type="text" />
                <button id="add">Add</button>
            </form>
        </div>

		<script id="bookTemplate" type="text/template">
            <img src="<%= coverImage %>"/>
            <ul>
                <li><%= title %></li>
                <li><%= author %></li>
                <li><%= releaseDate %></li>
                <li>
                  <% _.each(keywords, function(keyObj) { %>
                    <%= keyObj.keyword %>
                  <% }); %>
                </li>
            </ul>
            <button class="delete">Delete</button>
        </script>

        <!-- build:js scripts/vendor.js -->
        <script src="/components/jquery/dist/jquery.js"></script>
        <script src="/components/jquery-dateFormat/dist/dateFormat.js"></script>
        <script src="/components/lodash/lodash.js"></script>
        <script src="/components/backbone/backbone.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="/js/models/book.js"></script>

        <script src="/js/collections/library.js"></script>

        <script src="/js/views/book.js"></script>
        <script src="/js/views/library.js"></script>

        <script src="/js/app.js"></script>
        <!-- endbuild -->
</body>
</html>
